:root {
    --green:#50b848;
    --dark: #191c20;
    --blue: #0dbae8;
    --gray: #9aa2aa;
    --light: #e9edf1;
    --darkgray: #4a525d;
    --font: 'Varela Round', sans-serif;
}

body,html {
    margin:0;
    padding:0;
    line-height: 120%;
    font-size:16px;
    font-family: var(--font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top:0;
    margin-left:0;
    padding-top:0;
    padding-left:0;
    padding-bottom:0;
    margin-bottom:0;
}

input,button,textarea {
    outline:none;
}


.container {
    width:980px;
    margin-left:auto;
    margin-right:auto;
}

.row {
    padding-left:15px;
    padding-right:15px;
}

select {
    cursor: pointer;
}

.no-arrow {
    background-image: none !important;
}