.slider-image {
    width:100vw;
    height:100vh;
}

.slider-image ul li {
    display:inline-block;
}

.slider-image ul li img {
    width:100%;
    height:100vh;
}


/* Header - Saytın Başlığı */
header.homepage {
    position:absolute;
    left:0;
    right:0;
}


/* Header/Menu- Menyu Hissəsi */
.homepage-menu {
    display:flex;
    flex-direction: row;
    height:68px;
}

.homepage-menu .homepage-menu-menubutton {
    background-color:var(--green);
    flex:1;
}

.homepage-menu .homepage-menu-menubutton a{
    color:white;
    padding:25px;
    display: inline-block;
    font-size:14px;
}

.homepage-menu .homepage-menu-hover {
    background-color:var(--green);
    flex:8;
    opacity: 0;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list {
    padding:14px;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li {
    display: inline-block;
    padding:11px 14px;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li.close-button {
    float:right;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li.close-button:hover {
    background-color:transparent;
    color:#20671b;
    opacity: 0.9;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li.close-button a {
    font-size:18px;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li:hover {
    background-color:#20671b;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li:hover a {
    color:white;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li:last-child {
    margin-right:0;
}

.homepage-menu .homepage-menu-hover ul.homepage-menu-hover-list li a {
    font-size:14px;
    color:#20671b;
}

/* Header Details - Başlıq Detayları */
.homepage-details {
    display:flex;
    flex-direction: row;
}

.homepage-details .homepage-details-logo {
    flex:2;
    background-color:var(--dark);
    height:110px;
}

.homepage-details .homepage-details-logo .homepage-details-logo-area {
    display: flex;
    justify-content: center;
    padding-top:20px;
}

.homepage-details .homepage-details-logo .homepage-details-logo-area img {
    width:70%;
    object-fit: contain;
}


.homepage-details .homepage-details-searchbar {
    flex:8;
}

.homepage-details .homepage-details-searchbar {
    display: flex;
    flex-direction: column;
}

.homepage-details-searchbar .homepage-details-searchbar-up {
    background:red;
    display: flex;
    flex-direction: row;
    height:60px;
}

.homepage-details-searchbar .homepage-details-searchbar-down {
    background:green;
}

.homepage-details-searchbar .homepage-details-searchbar-up .homepage-details-searchbar-up-contact {
    flex:2.4;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

.homepage-details-searchbar-up-contact .contact-area {
    align-self: center;
    color:white;
    font-size:14px;
}

.homepage-details-searchbar-up-contact .contact-area i {
    transform: scaleX(-1);
    color:#0081bd;
}

.homepage-details-searchbar .homepage-details-searchbar-up .homepage-details-searchbar-menu {
    flex:7.6;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.homepage-details-searchbar-menu ul.searchbar-list {
    padding:13px;
}

.homepage-details-searchbar-menu ul.searchbar-list li {
    display: inline-block;
    padding:9px 18px;
    border-right:1px solid var(--light);
}

.homepage-details-searchbar-menu ul.searchbar-list li a {
    font-size:12px;
    color:#7c848b;
    transition: all 0.3s ease-in;
}

.homepage-details-searchbar-menu ul.searchbar-list li:hover a {
    color:black;
}

.homepage-details-searchbar-menu ul.searchbar-list li:last-child {
    border-right:0;
}

.homepage-details-searchbar-menu ul.searchbar-social-links {
    padding:24px;
}

.homepage-details-searchbar-menu ul.searchbar-social-links li {
    display: inline-block;
    margin-right:14px;
}

.homepage-details-searchbar-menu ul.searchbar-social-links li:last-child {
    margin-right:0;
}

.homepage-details-searchbar-menu ul.searchbar-social-links li a {
    color:#9aa2aa;
    transition: all 0.3s ease-in;
}

.homepage-details-searchbar-menu ul.searchbar-social-links li:hover a {
    color:black;
}


.homepage-details-searchbar-down {
    height: 50px;
}

.homepage-details-searchbar-down, .searchbar-down-button {
    display:flex;
    flex-direction: row;
}
.searchbar-down-select-form, .searchbar-footer-select-form {
    background-color:#dfe7ee;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position-x:94%;
    background-position-y:21px;
    background-size:10px;
    border-bottom:1px solid #b9b9b9;
    border-right:1px solid #b9b9b9;
    padding-top:15px;
    padding-bottom:15px;
    flex:1;
}


.searchbar-down-select-form select, .searchbar-footer-select-form select {
    font-size:12px;
    text-align: left;
    color:#4a525d;
    font-family: var(--font);
    text-transform: uppercase;
    border:none;
    background-color:transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:none;
}

.searchbar-down-button-first, .searchbar-down-button-second {
    padding:15px 31px;
}

.searchbar-down-button-first {
    background-color:#f4903f;
}

.searchbar-down-button-first:hover {
    opacity: 0.8;
}

.searchbar-down-button-first a {
    color:#c15302;
    font-size:12px;
}
.searchbar-down-button-second {
    background-color: var(--dark);
}
.searchbar-down-button-second:hover {
    opacity: 0.8;
}
.searchbar-down-button-second a{
    color:white;
    font-size:12px;
}

.homepage-details-searchbar-footer {
    display: flex;
    flex-direction: row;
}

.homepage-details-searchbar-flex-first {
    flex:2;
}

.homepage-details-searchbar-flex-second {
    flex:8;
}

.homepage-details-searchbar-footer-up {
    display:flex;
}

.homepage-details-searchbar-footer-down {
    display: flex;
}

.searchbar-footer-select-form-divide {
    display:flex;
}

.searchbar-footer-select-form-divide-first, .searchbar-footer-select-form-divide-second, .searchbar-footer-down-select-form  {
    background-color:#dfe7ee;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position-x:94%;
    background-position-y:21px;
    background-size:10px;
    border-bottom:1px solid #b9b9b9;
    border-right:1px solid #b9b9b9;
    padding-top:15px;
    padding-bottom:15px;
}

.searchbar-footer-select-form-divide-first select, .searchbar-footer-select-form-divide-second select, .searchbar-footer-down-select-form select {
    font-size:12px;
    text-align: left;
    color:#4a525d;
    font-family: var(--font);
    text-transform: uppercase;
    border:none;
    background-color:transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:none;
}

.searchbar-footer-down-select-form-padding {
    padding-left:20px;
    padding-right:67px;
}

.searchbar-footer-down-select-form input {
    background-color:transparent;
    border:none;
    font-size:12px;
    text-align: left;
    color:#4a525d;
    font-family: var(--font);
    text-transform: uppercase;
}
.searchbar-footer-down-select-form input::-webkit-input-placeholder {
    color:#4a525d;
}